<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Price Updates</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="menu-area">
        <!-- 在此添加菜单项目 -->
        <ul>
            <li><a href="#">功能1</a></li>
            <li><a href="#">功能2</a></li>
            <li><a href="#">功能3</a></li>
        </ul>
  </div>
  
  <div class="content-area">
      <!-- 在此添加主要内容 -->
      <h1>功能區域</h1>
      <p>這裡是主要的功能區域。您可以添加各種內容，例如表格、圖表或表單。</p>
  </div>
  
  <div class="container">
    <nav>
      <ul>
        <div id="userActions">
          <!-- 如果 username 存在，表示用户已登录，显示登出链接 -->
          <!-- 否则显示登录和注册链接 -->
          <p id="welcomeMessage"></p>
          <a id="loginLink" style="display: none;" href="/login">登入</a>
          <a id="registerLink" style="display: none;" href="/register">註冊</a>
          <a id="logoutLink" style="display: none;" href="/logout">登出</a>
        </div>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var username = '<%= username %>';
            var welcomeMessage = document.getElementById('welcomeMessage');
            var loginLink = document.getElementById('loginLink');
            var registerLink = document.getElementById('registerLink');
            var logoutLink = document.getElementById('logoutLink');
  
            if (username) {
              // 用户已登录，显示欢迎消息和登出链接
              welcomeMessage.textContent = '你已經登錄，歡迎 ' + username + '！';
              logoutLink.style.display = 'inline';
            } else {
              // 用户未登录，显示登录和注册链接
              loginLink.style.display = 'inline';
              registerLink.style.display = 'inline';
            }
          });
        </script>
      </ul>
    </nav>
    <h1>Binance Price Updates</h1>
    <div class="price-item">
      <img src="/images/btc.png" alt="BTC Icon">
      <p class="cryptoName">BTC/USDT</p>
      <div id="btcusdtPrice" class="price"></div> 
    </div>
    <div class="price-item">
      <img src="/images/eth.png" alt="ETH Icon">
      <p class="cryptoName">ETH/USDT</p>
      <div id="ethusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/sol.png" alt="SOL Icon">
      <p class="cryptoName">SOL/USDT</p>
      <div id="solusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/bnb.png" alt="BNB Icon">
      <p class="cryptoName">BNB/USDT</p>
      <div id="bnbusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/dot.png" alt="DOT Icon">
      <p class="cryptoName">DOT/USDT</p>
      <div id="dotusdtPrice"class="price"></div> 
    </div>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      // 格式化价格为小数点后四位
      function formatPrice(price) {
        return parseFloat(price).toFixed(4);
      }
      
      // 顯示 BTC/USDT 的價格
      const btcusdtPriceElement = document.getElementById('btcusdtPrice');
      socket.on('btcusdtPriceUpdate', function(price) {
        btcusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 ETH/USDT 的價格
      const ethusdtPriceElement = document.getElementById('ethusdtPrice');
      socket.on('ethusdtPriceUpdate', function(price) {
        ethusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 SOL/USDT 的價格
      const solusdtPriceElement = document.getElementById('solusdtPrice');
      socket.on('solusdtPriceUpdate', function(price) {
        solusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 BNB/USDT 的價格
      const bnbusdtPriceElement = document.getElementById('bnbusdtPrice');
      socket.on('bnbusdtPriceUpdate', function(price) {
        bnbusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 DOT/USDT 的價格
      const dotusdtPriceElement = document.getElementById('dotusdtPrice');
      socket.on('dotusdtPriceUpdate', function(price) {
        dotusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });
    </script>
</body>
</html>
