<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binance Price Updates</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="menu-area">
        <!-- 在此添加菜单项目 -->
        <ul>
          <li><a href="#" onclick="handleFunctionClick(1)">探索</a></li>
          <li><a href="#" onclick="handleFunctionClick(2)">功能2</a></li>
          <li><a href="#" onclick="handleFunctionClick(3)">新增貼文</a></li>
        </ul>
        <script>
          function handleFunctionClick(functionNumber) {
            // 檢查使用者是否已登入
            const username = '<%= username %>';
            if (username) {
              // 如果使用者已登入，允許執行功能1、功能2、功能3的操作
              switch (functionNumber) {
                case 1:
                  window.location.href = '/';
                  break;
                case 2:
                  // 執行功能2的操作
                  break;
                case 3:
                  showPostForm();
                  break;
                default:
                  break;
              }
            } else {
              switch (functionNumber) {
                case 1:
                  window.location.href = '/';
                  break;
                case 2:
                  alert('請先登入');
                  break;
                case 3:
                  alert('請先登入');
                  break;
                default:
                  break;
              }
            }
          }

          function showPostForm() {
            const contentArea = document.querySelector('.content-area');
            contentArea.innerHTML = ''; // 清空原有内容

            const formHTML = `
              <h2>新增貼文</h2>
              <form id="postForm" action="/submitPost" method="post">
                <label for="title">標題:</label><br>
                <input type="text" id="title" name="title"><br>
                <label for="content">內容:</label><br>
                <textarea id="content" name="content"></textarea><br><br>
                <button type="submit">提交</button>
              </form>
            `;
            contentArea.innerHTML = formHTML;
          }

        </script>
        <nav>
          <ul>
            <div id="userActions" class="user-item">
              <!-- 如果 username 存在，表示用户已登录，显示登出链接 -->
              <!-- 否则显示登录和注册链接 -->
              <p id="welcomeMessage"></p>
              <a id="loginLink" style="display: none;" href="/login">登入</a>
              <a id="registerLink" style="display: none;" href="/register">註冊</a>
              <a id="logoutLink" style="display: none;" href="/logout">登出</a>
            </div>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var username = '<%= username %>';
                var welcomeMessage = document.getElementById('welcomeMessage');
                var loginLink = document.getElementById('loginLink');
                var registerLink = document.getElementById('registerLink');
                var logoutLink = document.getElementById('logoutLink');
      
                if (username) {
                  // 用户已登录，显示欢迎消息和登出链接
                  welcomeMessage.textContent =  username + '！';
                  logoutLink.style.display = 'inline';
                } else {
                  // 用户未登录，显示登录和注册链接
                  loginLink.style.display = 'inline';
                  registerLink.style.display = 'inline';
                }
              });
            </script>
          </ul>
        </nav>
  </div>
  
  <div class="content-area">
      <!-- 在此添加主要内容 -->
      <h1>探索</h1>
      <div id="posts-container">
        <!-- 这里将动态加载的帖子显示在这个容器中 -->
      </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      loadPosts(); // 页面加载时加载帖子

      function loadPosts() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/posts', true);
        xhr.onload = function() {
          if (xhr.status >= 200 && xhr.status < 300) {
            var posts = JSON.parse(xhr.responseText);
            displayPosts(posts);
          } else {
            console.error('Failed to load posts');
          }
        };
        xhr.send();
      }

      function displayPosts(posts) {
        var postsContainer = document.getElementById('posts-container');
        if (posts && posts.length > 0) {
          posts.forEach(function(post) {
            var postElement = document.createElement('div');
            postElement.classList.add('post');
            postElement.innerHTML = `
              <h2>${post.title}</h2>
              <p>${post.content}</p>
              <p>作者: ${post.username}</p>
            `;
            postsContainer.appendChild(postElement);
          });
        } else {
          postsContainer.innerHTML = '<p>暂无帖子</p>';
        }
      }
    });
  </script>
  <div class="container">
    <h1>Price Updates</h1>
    <div class="price-item">
      <img src="/images/btc.png" alt="BTC Icon">
      <p class="cryptoName">BTC/USDT</p>
      <div id="btcusdtPrice" class="price"></div> 
    </div>
    <div class="price-item">
      <img src="/images/eth.png" alt="ETH Icon">
      <p class="cryptoName">ETH/USDT</p>
      <div id="ethusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/sol.png" alt="SOL Icon">
      <p class="cryptoName">SOL/USDT</p>
      <div id="solusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/bnb.png" alt="BNB Icon">
      <p class="cryptoName">BNB/USDT</p>
      <div id="bnbusdtPrice"class="price"></div> 
    </div> 
    <div class="price-item">
      <img src="/images/dot.png" alt="DOT Icon">
      <p class="cryptoName">DOT/USDT</p>
      <div id="dotusdtPrice"class="price"></div> 
    </div>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      // 格式化价格为小数点后四位
      function formatPrice(price) {
        return parseFloat(price).toFixed(4);
      }
      
      // 顯示 BTC/USDT 的價格
      const btcusdtPriceElement = document.getElementById('btcusdtPrice');
      socket.on('btcusdtPriceUpdate', function(price) {
        btcusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 ETH/USDT 的價格
      const ethusdtPriceElement = document.getElementById('ethusdtPrice');
      socket.on('ethusdtPriceUpdate', function(price) {
        ethusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 SOL/USDT 的價格
      const solusdtPriceElement = document.getElementById('solusdtPrice');
      socket.on('solusdtPriceUpdate', function(price) {
        solusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 BNB/USDT 的價格
      const bnbusdtPriceElement = document.getElementById('bnbusdtPrice');
      socket.on('bnbusdtPriceUpdate', function(price) {
        bnbusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });

      // 顯示 DOT/USDT 的價格
      const dotusdtPriceElement = document.getElementById('dotusdtPrice');
      socket.on('dotusdtPriceUpdate', function(price) {
        dotusdtPriceElement.innerText = `$${formatPrice(price)}`;
      });
    </script>
</body>
</html>
